<ol class="vcard">
	<li class="contact-not-published" tal:condition="contactNotPublished" change:translate="modules.contactcard.bo.general.ContactNotPublished"></li>
	<li class="float-right" tal:condition="photo">
		<img tal:condition="contact/getLastname" class="fn" change:media="document contact/getPhoto; format 'modules.contactcard.frontoffice/detailvisual'; alt contact/getLastname" />
		<img tal:condition="not: contact/getLastname" class="fn" change:media="document contact/getPhoto; format 'modules.contactcard.frontoffice/detailvisual'; alt contact/getName" />
	</li>
	<li>
		<h4 tal:condition="contact/getLastname" class="fn">
			<strong><span tal:condition="title" class="honorific-prefix">${title}</span> <span class="given-name">${contact/getFirstnameAsHtml}</span> <span class="family-name">${contact/getLastnameAsHtml}</span></strong>
		</h4>
		<h4 tal:condition="not: contact/getLastname" class="org fn">${contact/getNameAsHtml}</h4>	
	</li>
	<li tal:condition="php: contact.getName() && contact.getLastname()">
		<strong change:translate="modules.contactcard.frontoffice.OfficeLabel"></strong>
		<span class="org">${contact/getNameAsHtml}</span>
	</li>
	<li tal:condition="contact/getFunction">
		<strong change:translate="modules.contactcard.frontoffice.FunctionLabel"></strong>
		<span class="title">${contact/getFunctionAsHtml}</span>
	</li>
	<li tal:condition="contact/getPhone" class="tel">
		<strong change:translate="modules.contactcard.frontoffice.PhoneLabel"></strong>
		<span class="type display-none">work</span>
		<span class="value">${contact/getPhoneAsHtml}</span>
	</li>
	<li tal:condition="contact/getPost">
		<strong change:translate="modules.contactcard.frontoffice.PostLabel"></strong>
		${contact/getPostAsHtml}
	</li>
	<li tal:condition="contact/getFax" class="tel">
		<strong change:translate="modules.contactcard.frontoffice.FaxLabel"></strong>
		<span class="type display-none">fax</span>
		<span class="value">${contact/getFaxAsHtml}</span>
	</li>
	<li tal:condition="adr" class="address adr">
		<strong change:translate="modules.contactcard.frontoffice.AddressLabel"></strong>
		<ul>
			<li tal:condition="address" class="street-address" tal:content="address"/>
			<li tal:condition="contact/getZipcode" class="display-inline postal-code" tal:content="contact/getZipcode"/>
			<li tal:condition="contact/getCity" class="display-inline locality" tal:content="contact/getCity"/>
			<li tal:condition="contact/getCountry" class="country-name" tal:content="contact/getCountry"/>
		</ul>
	</li>
	<li tal:condition="contactform">
		<strong change:translate="modules.contactcard.frontoffice.ContactLabel"></strong>
		<span>
			<a change:link="document contactform; formParam[receiverIds] contact/getId" class="link email" change:translate="modules.contactcard.frontoffice.Contactme"></a> 
			<span tal:condition="contactformPageNotPublished" change:translate="modules.contactcard.bo.general.ContactformPageNotPublished" class="contactformPageNotPublished"></span>
		</span>
	</li>
</ol>