<ol class="vcard">
	<li class="contact-not-published" tal:condition="contactNotPublished">${trans:m.contactcard.bo.general.contactnotpublished,ucf}</li>
	<li class="float-right" tal:condition="configuration/getShowPhoto">
		<a tal:condition="configuration/getShowLinkToDetail" change:link="tag contextual_website_website_modules_contactcard_contact ; contactcardParam[cmpref] contact/getId">
			<img tal:condition="contact/getLastname" class="photo" change:media="document contact/getPhoto; format 'modules.contactcard.frontoffice/detailvisual'; alt contact/getLastname" />
			<img tal:condition="not: contact/getLastname" class="photo" change:media="document contact/getPhoto; format 'modules.contactcard.frontoffice/detailvisual'; alt contact/getName" />
		</a>
		<tal:block tal:condition="not:configuration/getShowLinkToDetail">
			<img tal:condition="contact/getLastname" class="photo" change:media="document contact/getPhoto; format 'modules.contactcard.frontoffice/detailvisual'; alt contact/getLastname" />
			<img tal:condition="not: contact/getLastname" class="photo" change:media="document contact/getPhoto; format 'modules.contactcard.frontoffice/detailvisual'; alt contact/getName" />
		</tal:block>
	</li>
	<li>
		<h4 tal:condition="contact/getLastname" class="fn n">
			<a tal:condition="configuration/getShowLinkToDetail" change:link="tag contextual_website_website_modules_contactcard_contact ; contactcardParam[cmpref] contact/getId">		
				<strong>
					<span tal:condition="contact/getTitle" class="honorific-prefix">${contact/getTitle/getLabel}</span>
					<span class="given-name">${contact/getFirstname}</span>
					<span class="family-name">${contact/getLastname}</span>
				</strong>
			</a>
			<strong tal:condition="not:configuration/getShowLinkToDetail">
				<span tal:condition="contact/getTitle" class="honorific-prefix">${contact/getTitle/getLabel}</span>
				<span class="given-name">${contact/getFirstname}</span>
				<span class="family-name">${contact/getLastname}</span>
			</strong>
		</h4>
		<h4 tal:condition="not: contact/getLastname" class="org fn">${contact/getName}</h4>	
	</li>
	<tal:block tal:condition="configuration/getShowCompanyInfos">
		<li tal:condition="php: contact.getName() && contact.getLastname()">
			<strong>${trans:m.contactcard.frontoffice.office,ucf,lab}</strong>
			<span class="org">${contact/getName}</span>
		</li>
		<li tal:condition="contact/getFunction">
			<strong>${trans:m.contactcard.frontoffice.function,ucf,lab}</strong>
			<span class="title">${contact/getFunction}</span>
		</li>
	</tal:block>	
	<tal:block tal:condition="configuration/getShowTelephoneNumber">
		<li tal:condition="contact/getPhone" class="tel">
			<strong>${trans:m.contactcard.frontoffice.phone,ucf,lab}</strong>
			<span class="type display-none">work</span>
			<span class="value">${structure contact/getPhoneAsHtml}</span>
		</li>
		<li tal:condition="contact/getPost">
			<strong>${trans:m.contactcard.frontoffice.post,ucf,lab}</strong>
			${structure contact/getPostAsHtml}
		</li>
		<li tal:condition="contact/getFax" class="tel">
			<strong>${trans:m.contactcard.frontoffice.fax,ucf,lab}</strong>
			<span class="type display-none">fax</span>
			<span class="value">${structure contact/getFaxAsHtml}</span>
		</li>
		<li tal:condition="contact/getWebsiteurl" class="website">
			<strong>${trans:m.contactcard.frontoffice.website,ucf,lab}</strong>
			<span class="type display-none">website</span>
			<a href="${contact/getWebsiteurl}" class="link">${contact/getWebsiteurl}</a>
		</li>
	</tal:block>
	<tal:block tal:condition="configuration/getShowAddress">
		<li tal:condition="contact/hasAddressInformations" class="address adr">
			<strong>${trans:m.contactcard.frontoffice.address,ucf,lab}</strong>
			<ul>
				<li class="street-address">
					${structure contact/getAddress1AsHtml}
					<tal:block tal:condition="contact/getAddress2">
						<br />
						${structure contact/getAddress2AsHtml}
					</tal:block>
				</li>
				<li tal:condition="contact/getZipcode" class="display-inline postal-code">${contact/getZipcode}</li>
				<li tal:condition="contact/getCity" class="display-inline locality">${contact/getCity}</li>
				<li tal:condition="contact/getCountry" class="country-name">${contact/getCountry}</li>
			</ul>
		</li>
	</tal:block>
	<li tal:condition="configuration/getShowContactpageLink">
		<tal:block tal:condition="contact/getAllowcontact">
			<strong>${trans:m.contactcard.frontoffice.contact,ucf,lab}</strong>
			<span>
				<a tal:condition="not: contact/getContactpage" change:link="tag contextual_website_website_modules_contactcard_page-contact ; contactcardParam[cmpref] contact/getId; formParam[receiverIds] contact/getId" class="link email">${trans:m.contactcard.frontoffice.contactme,ucf}</a> 
				<a tal:condition="contact/getContactpage" change:link="document contact/getContactpage" class="link email">${trans:m.contactcard.frontoffice.contactme,ucf}</a> 
			</span>
		</tal:block>
	</li>
</ol>